### BUILDOUT CONFIG FILE ###

[buildout]
# DIRECTORIES
bin-directory = bin
parts-directory = bin/parts
develop-eggs-directory = bin/dev-eggs

# PARTS
parts =
    python
    tests
    coverage

# EGGS common to all parts
eggs =
    zc.buildout
    zc.recipe.egg
    Django

# specify a version for ANY egg used :
#  - to ensure repeatability
#  - to make the buildout script run faster
#    (does not need to check for newer versions)
# check the output for picked versions

show-picked-versions = true


# PARTS DEFINITIONS

# the tests runner
[tests]
recipe = djangorecipebook:test
runner = pytest
eggs =
    pytest
    testfixtures
    gunicorn
    ${buildout:eggs}
workingdir = tests

# coverage info
[coverage]
<= tests
eggs =
    pytest-cov
    ${tests:eggs}
args =
    --cov=djangorecipebook

# the python interpreter for the buildout environment
[python]
recipe = zc.recipe.egg:script
eggs = ${coverage:eggs}
interpreter = python
extra-paths = ${buildout:directory}

[versions]
python = 3.12

# RECIPES
zc.recipe.egg = 4.0.0

asgiref = 3.11.1
colorama = 0.4.6
coverage = 7.13.4
Django = 6.0.3
gunicorn = 25.1.0
iniconfig = 2.3.0
pluggy = 1.6.0
Pygments = 2.19.2
pytest = 9.0.2
pytest-cov = 7.0.0
pytest-django = 4.12.0
sqlparse = 0.5.5
testfixtures = 11.0.0

# Required by:
# django==6.0.3
tzdata = 2025.3
